In [39]:
import os
import pandas as pd
import warnings
warnings.simplefilter("ignore")
#lst=["01_JAMMU & KASHMIR_APR'23","03_PUNJAB_MAY'23"]
df_blank=pd.DataFrame()
lst=os.listdir("C:/Users/Muskan.Kalra/Documents/GST files")
for items in lst:
    #print(items)
    try:
        df=pd.read_excel("C:/Users/Muskan.Kalra/Documents/GST files/"+items,"Trial")
        df.columns=["Company GSTIN","Company","Month","SRNo","Receiver GSTIN","Taxable Value","IGST","CGST","SGST"]
        df_temp=df_blank.append(df)
        df_blank=df_temp
    except:
        print(items)

In [41]:
df_blank=pd.read_csv("C:/Users/Muskan.Kalra/Documents/GST files/GST_Blank.csv")

In [42]:
df_blank=df_blank.reset_index(drop=True)
df_blank["Company GSTIN"] = df_blank["Company GSTIN"].str.strip()
#df_blank.to_csv("C:/Users/Muskan.Kalra/Documents/GST files/GST_Final.csv")
df_blank['Company State Initial'] = df_blank['Company GSTIN'].str[:2]
df_blank['Receiver State Initial'] = df_blank['Receiver GSTIN'].str[:2]
df_blank["Company Pan"]=df_blank['Company GSTIN'].str[2:12]
df_blank["Receiver Pan"]=df_blank['Receiver GSTIN'].str[2:12]
df_state_code=pd.read_excel("C:/Users/Muskan.Kalra/Documents/state code list GST.xlsx")
df_state_code=df_state_code[["State","State code list under GST"]]
df_state_code.rename(columns = {'State':'Company State Initial'}, inplace = True)
df_blank["Company State Initial"]=df_blank["Company State Initial"].astype(int)
df_final=pd.merge(df_blank,df_state_code,how="left",on="Company State Initial")
df_final=df_final.reset_index(drop=True)
df_final.loc[df_final["Company Pan"]==df_final["Receiver Pan"],"Remarks"]="STO"

In [43]:
df_final

,Company GSTIN,Company,Month,SRNo,Receiver GSTIN,Taxable Value,IGST,CGST,SGST,Company State Initial,Receiver State Initial,Company Pan,Receiver Pan,State code list under GST,Remarks
0,32AAACA6990Q1Z7,APOLLO TYRES LIMITED,"April, 2023",1,06AAACA6990Q1Z2,2.592854e+08,63954922.12,0,0,32,06,AAACA6990Q,AAACA6990Q,Kerala,STO
1,32AAACA6990Q1Z7,APOLLO TYRES LIMITED,"April, 2023",2,27AAACA6990Q1ZY,1.985643e+08,51391266.09,0,0,32,27,AAACA6990Q,AAACA6990Q,Kerala,STO
2,32AAACA6990Q1Z7,APOLLO TYRES LIMITED,"April, 2023",3,33AAACA6990Q1Z5,3.291438e+08,47941294.76,0,0,32,33,AAACA6990Q,AAACA6990Q,Kerala,STO
3,32AAACA6990Q1Z7,APOLLO TYRES LIMITED,"April, 2023",4,29AAACA6990Q1ZU,1.705136e+08,46318277.38,0,0,32,29,AAACA6990Q,AAACA6990Q,Kerala,STO
4,32AAACA6990Q1Z7,APOLLO TYRES LIMITED,"April, 2023",5,21AAACA6990Q1ZA,1.214239e+08,33247257.15,0,0,32,21,AAACA6990Q,AAACA6990Q,Kerala,STO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169097,37AAACT5557G1Z6,TVS SRICHAKRA LIMITED,"May, 2023",482,37DPPPS1288D1ZD,3.165720e+04,0,4432.01,4432.01,37,37,AAACT5557G,DPPPS1288D,Andhra Pradesh,NaN
169098,37AAACT5557G1Z6,TVS SRICHAKRA LIMITED,"May, 2023",483,37DPPPS1288D1ZD,1.390120e+04,0,1946.17,1946.17,37,37,AAACT5557G,DPPPS1288D,Andhra Pradesh,NaN
169099,37AAACT5557G1Z6,TVS SRICHAKRA LIMITED,"May, 2023",484,37DPPPS1288D1ZD,2.904762e+04,0,2614.28,2614.28,37,37,AAACT5557G,DPPPS1288D,Andhra Pradesh,NaN
169100,37AAACT5557G1Z6,TVS SRICHAKRA LIMITED,"May, 2023",485,37DPPPS1288D1ZD,1.318165e+04,0,1845.43,1845.43,37,37,AAACT5557G,DPPPS1288D,Andhra Pradesh,NaN
169101,37AAACT5557G1Z6,TVS SRICHAKRA LIMITED,"May, 2023",486,37DPPPS1288D1ZD,3.788928e+04,0,5304.5,5304.5,37,37,AAACT5557G,DPPPS1288D,Andhra Pradesh,NaN

In [44]:
df_state_code.rename(columns = {'Company State Initial':'Receiver State Initial'}, inplace = True)

In [45]:
df_final["Receiver State Initial"]=df_final["Receiver State Initial"].astype(int)
df_final=pd.merge(df_final,df_state_code,how="left",on="Receiver State Initial")

In [46]:
df_final=df_final.fillna("")
df_final.to_csv("C:/Users/Muskan.Kalra/Documents/GST files/GST_Final.csv")

In [40]:
df_blank.to_csv("C:/Users/Muskan.Kalra/Documents/GST files/GST_Blank.csv")

In [35]:
df_final=df_final.fillna("")